<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jobs" type="QuartzDemo.Common.JobsConfigurationSection, QuartzDemo.Common" />
  </configSections>
  <jobs>
    <!--测试job，每5秒执行一次-->
    <job name="HelloQuartzJob" enabled="true" trigger="cron" scheduleExp="0/5 * * * * ?" type="QuartzDemo.Task.HelloQuartzJob, QuartzDemo.Task" />
  </jobs>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>